<section class="orders light-section">
    <div class="container mx-auto pt-12">
        <!-- HEADING OF ADMIN ORDERS TABLE -->
        <h1 class="font-bold text-lg mb-4">ALL ORDERS</h1>
        <!-- TABLE SHOWING ORDERS THAT HAS BEEN SHOWING NON COMPLETED ORDER -->
        <table class="w-full table-auto bg-white">
            <!-- thead CONTAINS HEADINGS -->
            <thead>
                <tr>
                    <!-- COLUMN HEADING NAMES -->
                    <!--th REPRESENT ORDERS,ADDRESS,TIME HEADING NAMES -->
                    <th class="px-4 py-2 text-left">Orders</th>
                    <th class="px-4 py-2 text-left">Customer</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">STATUS</th>
                    <th class="px-4 py-2 text-left">Placed at</th>

                </tr>
            </thead>

            <!-- ADDING DATA TO EACH COLUMNS -->
            <tbody id="orderTableBody">
               
            </tbody>

        </table>

    </div>
</section>