@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


// height 4000 px is used for scrolling
body{
    font-family:'Lato',sans-serif;
    -webkit-font-smoothing:antialiased;
    color:$dark;
    // height: 400px;
}

//cart image hover effect
nav li:last-child a{
    background: $primary;
    &:hover{
        background:$primary-hover;
    }
}

nav li a:hover{
    transition:$smooth;
    color:$primary;
}

section.hero{
    background: $secondary;
}

//TO CHANGE THE BACKGROUND COLOR OF SMALL TEXT
.size{
    background:$secondary;
}


.add-to-cart{
    border:2px solid $primary;
    color:$primary;
    transition:$smooth;
    &:hover{
        background:$primary;
        border-color: $pure;
        color:$pure;
    }
    &:focus{
        outline: none;
    }
}

// FOR ALL BUTTONS CLASS
.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background:$primary-hover;

    }
}

// CART PAGE CSS 
section.cart{
    background: $secondary;
    .amount{
        color:$primary;
    }
}

//LOGIN PAGE
// calc(100vh-86px) calc(WHOLE_PAGE_HEIGHT-NAVABAR_HEIGHT)
section.login{
    background:$secondary;
    min-height:calc(100vh - 86px);
    a{
        color:$primary;
        &:hover{
            color:$primary-hover
        }
    }
}

//FLASH PROMPTS
.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
}

//ORDERS DETAIL PAGES 
a.link{
    color:$primary;
}