@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';


// height 4000 px is used for scrolling
body{
    font-family:'Lato',sans-serif;
    -webkit-font-smoothing:antialiased;
    color:$dark;
    // height: 400px;
}

//cart image hover effect
nav li:last-child a{
    background: $primary;
    &:hover{
        background:$primary-hover;
    }
}

nav li a:hover{
    transition:$smooth;
    color:$primary;
}

section.hero{
    background: $secondary;
}

//TO CHANGE THE BACKGROUND COLOR OF SMALL TEXT
.size{
    background:$secondary;
}


.add-to-cart{
    border:2px solid $primary;
    color:$primary;
    transition:$smooth;
    &:hover{
        background:$primary;
        border-color: $pure;
        color:$pure;
    }
    &:focus{
        outline: none;
    }
}

// FOR ALL BUTTONS CLASS
.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
        background:$primary-hover;

    }
}

// CART PAGE CSS 
section.cart{
    background: $secondary;
    .amount{
        color:$primary;
    }
}

//LOGIN PAGE
// calc(100vh-86px) calc(WHOLE_PAGE_HEIGHT-NAVABAR_HEIGHT)
section.login{
    background:$secondary;
    min-height:calc(100vh - 86px);
    a{
        color:$primary;
        &:hover{
            color:$primary-hover
        }
    }
}

//FLASH PROMPTS
.noty_theme__mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
}

//ORDERS DETAIL PAGES 
a.link{
    color:$primary;
}

//DISPLAY ORDER STATUS
//SET BACKGROUND COLOR AS $secondary FOR WHOLE SECTION OF HEADING
// CONSIDER MIN HEIGHT AS TOTAL HEIGHT -NAVBAR HEIGHT
section.status{
    background: $secondary;
    min-height:calc(100vh - 86px);
}

.status-box ul{
    margin-left:84px;
}

//GIVE PADDING(FOR TEXTINSIDE IT )TO STATUS BOX
.status-box{
    padding:60px 0 0;
}




//DOTS 
//POSTION RELATIVE FOR DOTS 
.status-box ul li span{
    position: relative;
    padding-left: 20px;

}
// span:after MEANS DOT WILL COME AFTER  SPAN   <span>ORDERED PLACED</span>DOT 
.status-box ul li span:after{
    content:'';
    background:$dark;
    width:10px;
    height:10px;
    position:absolute;
    // TO GIVE POSITIONS TO BLACK DOT
    left:-10px;
    top:50%;
    border-radius: 50%;
    transform: translateY(-5px);
    // GIVE DOT A BOXSHADOW OF GRAY
    box-shadow: 0 0 1px 10px $secondary;
}

//TO GET ICONS ON ORDER STATUS PAGE
//ICONS WILL BE GET PALCED BEFORE SPAN TAG      ICON<span>ORDERED PLACED</span>
.status-box ul li span:before{
    font-family: 'Line Awesome Free';
    font-size: 46px;
    font-weight: 600;
    position: absolute;
    left:-90px;
    top:50%;
    transform: translateY(-50%);
    color:inherit;
}

//APPLY ICON TO EACH li MEANS ORDERED PLACED,ORDER CONFIRMATION,PREPARATION...
//GET THE CONTENT CODE FROM LINKAWESOME
.status-box ul li:nth-child(1) span:before{
    content: '\f46c';
}
.status-box ul li:nth-child(2) span:before{
    content: '\f560';
}
.status-box ul li:nth-child(3) span:before{
    content: '\f818';
}
.status-box ul li:nth-child(4) span:before{
    content: '\f0d1';
}
.status-box ul li:nth-child(5) span:before{
    content: '\f582';
}

//LINE  BETWEEN DOTS
.status-box ul li{
    position: relative;
}

.status-box ul li:before{
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    width:2px;
    height: 100%;
    background: $dark;
    margin-top: 10px;
}

//LAST DOT
.status-box ul li:nth-child(5) span:after{
    box-shadow: 0 20px 1px 20px $secondary;
}

//CHANGE THE COLOR OF THE LINE WHEN ONE BY ONE STATUS AHS BEEN COMPLETED
.status-box ul li.step-completed:before{
    background: $gray;
}

//CHANGE THE COLOR OF DOTS 
.status-box ul li.step-completed span:after {
    background: $gray;
}

//CHANGE THE COLOR OF TEXT
.status-box ul li.step-completed span{
    color: $gray;
}


// Current STATUS 
//GIVE ORANGE TO CURRENT CLASS TO DETERMIN CURRENT STATUS OF ORDER
.status-box ul li.current span {
    color: $primary;
}

.status-box ul li.current span:after {
    background: $primary;
}

//TIME KA CSS
.status-box ul li small{
    float: right;
    font-size: 14px;
    margin-top: 8px;
}